# üêç Python Basics Exercises

This notebook contains several exercises to help you practice fundamental Python concepts:
1. Data Types
2. Identifiers
3. Variables & Operators
4. Formatted Output
5. Input in Python

## 1. Data Types Exercise
We will explore Python‚Äôs basic types: `int`, `float`, `bool`, `None`, and `str`.
Some of the results might be **unexpected** ü§Ø ‚Äî so pay close attention!

In [ ]:
x = 5        # int
y = 2.0      # float
z = "5"      # str
a = True     # bool
b = None     # NoneType

In [ ]:
print(x + y)           # int + float

In [ ]:
print(x + z)           # int + str

In [ ]:
print(a + x)           # bool + int

In [ ]:
print(bool(b))         # bool(None)

In [ ]:
print(str(a) + z)      # str + str

In [ ]:
print(0.1 + 0.2 == 0.3) # floating-point trap

In [ ]:
print(int("010"))      # int from string

In [ ]:
print(float("nan") == float("nan")) # NaN comparison

## 2. Identifiers Exercise
Identifiers are the names you give to variables, functions, etc. in Python.

**Rules:**
- Can contain letters, digits, and underscores `_`
- Cannot start with a digit
- Cannot use reserved keywords (`if`, `while`, etc.)

### Try:
- `camelCase`
- `PascalCase`
- `snake_case`

And test invalid identifiers such as: `2bad`, `my-var`, `class`.

In [ ]:
# Valid identifiers
camelCase = 10
PascalCase = 20
snake_case = 30

print(camelCase, PascalCase, snake_case)

# Invalid identifiers (uncomment one by one to see errors)
# 2bad = 5
# my-var = 6
# class = 7

## 3. Variables & Operators Exercise  
We will practice operators using a shopkeeper example.

In [ ]:
# Setup
apples = 23
bananas = 7
price_per_apple = 2.5
price_per_banana = 1.8

### 1. How many fruits are there in total?

In [ ]:
total_fruits = ___
print("Total fruits:", total_fruits)

### 2. If apples are packed in boxes of 4, how many full boxes can be made, and how many apples are left?

In [ ]:
boxes = ___
leftover_apples = ___
print("Boxes of apples:", boxes, "Leftover apples:", leftover_apples)

### 3. What is the total price of all fruits?

In [ ]:
total_price = ___
print("Total price:", total_price)

### 4. If the shopkeeper gives a 15% discount on the total, what is the final price?

In [ ]:
final_price = ___
print("Final price after discount:", final_price)

### 5. Check if the number of apples is greater than bananas.

In [ ]:
more_apples = ___
print("Are there more apples than bananas?", more_apples)

### 6. Check if the total number of fruits is even.

In [ ]:
is_even = ___
print("Is the total number of fruits even?", is_even)

### 7. Suppose the shopkeeper wants to double the number of bananas ‚Äî update the variable and show the new count.

In [ ]:
bananas ___
print("Bananas after doubling:", bananas)

## 4. Formatted Output Exercise
Python allows formatted output with `format()` or f-strings.

Try controlling **precision** and **spacing**.

In [ ]:
# Setup
pi = 3.141592653589793
e = 2.71828

### 1. Print œÄ (pi) with 2 decimal places.

In [ ]:
print("Pi is approximately {}".format(___))

### 2. Print œÄ (pi) with 4 decimal places using an f-string.

In [ ]:
print(f"Pi is approximately {pi:___}")

### 3. Print œÄ with its name left-aligned in a 10-character field, and its value right-aligned with 3 decimal places.

In [ ]:
print(f"{'Pi':___} | {pi:___}")

### 4. Print e with its name left-aligned in a 10-character field, and its value right-aligned with 3 decimal places.

In [ ]:
print(f"{'e':___} | {e:___}")

## 5. Input in Python  

We will practice using `input()` and type conversion.

### 1. Ask the user for their name and greet them.

In [ ]:
name = ____
print(f"Hello {name}, nice to meet you!")

### 2. Ask the user for their age and calculate how old they will be in 10 years.

In [ ]:
age = ____
print(f"In 10 years, you will be {___} years old!")